@import "../../styles/colors";

.BookingForm {
  background-color: $form-bg-color;
  padding: 1em;

  form {
    display: flex;
    flex-wrap: wrap;
    width: 40em;
  }
}

.Form-Field {
  font-weight: 300;
  font-size: 1.2rem;
  position: relative;
  display: flex;
  padding-top: 5px;
  height: 2.5em;
  width: 100%;

  &.Inline3 {
    width: 33.33%;

    ul {
      width: 5em;
    }

    input {
      width: 5em;
    }

    .Dropdown {
      margin-right: 2px;
    }
  }

  &.Inline2 {
    width: 50%;

    input {
      min-width: 5em;
    }
  }

  label {
    background-color: $field-bg-color;
    padding: 0.5em 0.2em 0.5em 0.5em;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    color: $light-text-color;
  }

  input {
    background-color: $field-bg-color;
    border: none;
    font: inherit;
    padding: 0.5em 0.5em 0.5em 0.2em;
    flex-grow: 1;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;

    height: 1.5em;
  }

  ul {
    position: absolute;
    background-color: $field-bg-color;
    bottom: 0;
    transform: translateY(100%);
    z-index: 2;
    list-style-type: none;
    padding-inline-start: 0;
    width: 15em;
    text-align: center;
    box-shadow: -1px 1px 3px #a8a8a8;
    max-height: 250px;
    overflow-y: scroll;
    margin: 0;
    right: 0;

    li {
      cursor: pointer;
      padding: 0.5em 0;
      border-bottom: 1px solid $dropdown-border-color;
    }
  }

  .Hint {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(calc(100% + 0.5em)) translateY(-0.5em);
  }

  .Error {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(calc(100% + 2.5em)) translateY(-0.6em);
    color: $accent-color;
  }

}

input[type=submit] {
  width: 100%;
  margin-top: 1em;
  padding: 1em 0;
  font: inherit;
  color: #fff;
  border: 0;
  border-radius: 0.2em;
  background-color: $accent-color;
  cursor: pointer;
}

.Dropdown {
  background-color: $field-bg-color;
  cursor: pointer;
  display: inline-block;
  width: 2em;
  position: relative;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  border-left: 2px solid $dropdown-border-color;
  flex-shrink: 0;

  &.Loader {
    &::after {
      content: ' ';
      display: block;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      border: 1px solid #000;
      border-color: #000 transparent #000 transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }

  @keyframes lds-dual-ring {
    0% {
      transform: translate(0.2em,0.4em) rotate(0deg);
    }
    100% {
      transform: translate(0.2em,0.4em) rotate(360deg);
    }
  }

  &.Expand {
    &::after {
      display: block;
      content: '\203a';
      position: absolute;
      font-size: 3rem;
      top: -0.15em;
      left: 0.4em;
      transform: rotateZ(90deg);
    }
  }

  &.Hide {
    &::after {
      display: block;
      content: '\203a';
      position: absolute;
      font-size: 3rem;
      top: -0.15em;
      left: 0.15em;
      transform: rotateZ(-90deg);
    }
  }
}